<IfModule mod_headers.c>
    # Inclui 'unsafe-inline' e 'unsafe-eval' para forçar o funcionamento
    # do Google Analytics e evitar a teimosia do servidor
    Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.googletagmanager.com https://www.google-analytics.com; style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;"
</IfModule>
